In [74]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'

In [51]:
conn = psycopg2.connect(host="192.168.0.10", dbname="test", user="test", password="test")

In [52]:
cur = conn.cursor()

In [53]:
query = "select pid, datname, usename , application_name, client_addr, state, query_start, query from pg_catalog.pg_stat_activity limit 10;"

In [54]:
consulta = cur.execute(query)

In [55]:
resultado = cur.fetchall()

In [56]:
cur.close()

In [57]:
conn.close()

In [58]:
print(resultado)

[(977, None, None, '', None, None, None, ''), (979, None, 'postgres', '', None, None, None, ''), (3762, 'postgres', 'test', 'DBeaver 7.2.0 - Main <postgres>', '127.0.0.1', 'idle', datetime.datetime(2020, 9, 11, 18, 43, 55, 59039, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 'SHOW search_path'), (3764, 'postgres', 'test', 'DBeaver 7.2.0 - Metadata <postgres>', '127.0.0.1', 'idle', datetime.datetime(2020, 9, 11, 18, 43, 55, 94461, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 'SELECT t.oid,t.*,c.relkind,format_type(nullif(t.typbasetype, 0), t.typtypmod) as base_type_name, d.description\nFROM pg_catalog.pg_type t\nLEFT OUTER JOIN pg_catalog.pg_class c ON c.oid=t.typrelid\nLEFT OUTER JOIN pg_catalog.pg_description d ON t.oid=d.objoid\nWHERE typnamespace=$1 \nORDER by t.oid'), (3766, 'test', 'test', 'DBeaver 7.2.0 - SQLEditor <Script.sql>', '127.0.0.1', 'idle', datetime.datetime(2020, 9, 11, 18, 43, 55, 183169, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 'SHOW search_path'), (3768, 'test', 'test', 'DBeaver 7.2.0 - Main <test>', '127.0.0.1', 'idle', datetime.datetime(2020, 9, 11, 18, 43, 55, 169541, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 'SHOW search_path'), (3770, 'test', 'test', 'DBeaver 7.2.0 - Metadata <test>', '127.0.0.1', 'idle', datetime.datetime(2020, 9, 11, 18, 43, 55, 182804, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 'SHOW search_path'), (4522, 'test', 'test', '', '192.168.0.10', 'active', datetime.datetime(2020, 9, 11, 18, 50, 32, 130590, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 'select pid, datname, usename , application_name, client_addr, state, query_start, query from pg_catalog.pg_stat_activity limit 10;'), (975, None, None, '', None, None, None, ''), (974, None, None, '', None, None, None, '')]

In [67]:
len(resultado[0])

8

In [68]:
for (pid, base_de_datos, usuario, applicacion, _, _, _, _) in resultado:
    print(pid,base_de_datos,usuario,applicacion)

977 None None
979 None postgres
3762 postgres test DBeaver 7.2.0 - Main <postgres>
3764 postgres test DBeaver 7.2.0 - Metadata <postgres>
3766 test test DBeaver 7.2.0 - SQLEditor <Script.sql>
3768 test test DBeaver 7.2.0 - Main <test>
3770 test test DBeaver 7.2.0 - Metadata <test>
4522 test test
975 None None
974 None None

In [60]:
tabla = """
\
+--------------------------------------------------+
| pid    base_de_datos        usuario applicacion  |
|--------------------------------------------------|
{}
+--------------------------------------------------+
\
"""

In [61]:
tabla = (tabla.format('\n'.join("|{:<4} |".format(*fila)
                               for fila in resultado)))

In [62]:
print(tabla)

+--------------------------------------------------+
| pid    base_de_datos        usuario applicacion  |
|--------------------------------------------------|
|977  |
|979  |
|3762 |
|3764 |
|3766 |
|3768 |
|3770 |
|4522 |
|975  |
|974  |
+--------------------------------------------------+

In [63]:
tabla_df = pd.DataFrame(resultado,columns=['pid', 'datname', 'usename' , 'application_name', 'client_addr', 'state', 'query_start', 'query'])

In [73]:
display('foo')
tabla_df

'foo'

,pid,datname,usename,application_name,client_addr,state,query_start,query
0,977,None,None,,None,None,NaT,
1,979,None,postgres,,None,None,NaT,
2,3762,postgres,test,DBeaver 7.2.0 - Main <postgres>,127.0.0.1,idle,2020-09-11 18:43:55.059039-03:00,SHOW search_path
3,3764,postgres,test,DBeaver 7.2.0 - Metadata <postgres>,127.0.0.1,idle,2020-09-11 18:43:55.094461-03:00,"SELECT t.oid,t.*,c.relkind,format_type(nullif(..."
4,3766,test,test,DBeaver 7.2.0 - SQLEditor <Script.sql>,127.0.0.1,idle,2020-09-11 18:43:55.183169-03:00,SHOW search_path
5,3768,test,test,DBeaver 7.2.0 - Main <test>,127.0.0.1,idle,2020-09-11 18:43:55.169541-03:00,SHOW search_path
6,3770,test,test,DBeaver 7.2.0 - Metadata <test>,127.0.0.1,idle,2020-09-11 18:43:55.182804-03:00,SHOW search_path
7,4522,test,test,,192.168.0.10,active,2020-09-11 18:50:32.130590-03:00,"select pid, datname, usename , application_nam..."
8,975,None,None,,None,None,NaT,
9,974,None,None,,None,None,NaT,

In [ ]:
pd.read_sql()