In [20]:
import simplejson as json
import psycopg2 as psy
import pandas.io.sql as psql
import pandas as pd
import feather

ModuleNotFoundError: No module named 'feather'

In [21]:
conexion_json = json.loads(open('conexion.json').read())

In [22]:
conexion_json

{'conexion': [{'dbname': 'test',
   'host': '192.168.0.10',
   'password': 'test',
   'user': 'test'}]}

In [23]:
with open('conexion_2.json') as conex_json:
    parametros = json.load(conex_json)
    host = parametros['host']
    dbname = parametros['dbname']
    user = parametros['user']
    password = parametros['password']

In [24]:
host, dbname, user, password

('192.168.0.10', 'test', 'test', 'test')

In [15]:
con = psy.connect(host=host, dbname=dbname, user=user, password=password)

In [16]:
resultado = psql.read_sql("select pid, datname, usename , application_name, client_addr, state, query_start, query from pg_catalog.pg_stat_activity limit 10;", con)

In [17]:
resultado

,pid,datname,usename,application_name,client_addr,state,query_start,query
0,1111,None,postgres,,None,None,NaT,
1,1109,None,None,,None,None,NaT,
2,8512,test,test,,192.168.0.10,active,2020-09-17 19:17:33.496970+00:00,"select pid, datname, usename , application_nam..."
3,1107,None,None,,None,None,NaT,
4,1106,None,None,,None,None,NaT,
5,1108,None,None,,None,None,NaT,

In [18]:
tabla_df = pd.DataFrame(query,columns=['pid', 'datname', 'usename' , 'application_name', 'client_addr', 'state', 'query_start', 'query'])

In [19]:
tabla_df

,pid,datname,usename,application_name,client_addr,state,query_start,query
0,1111,None,postgres,,None,None,NaT,
1,1109,None,None,,None,None,NaT,
2,6873,test,test,,192.168.0.10,active,2020-09-17 18:50:12.209516+00:00,"select pid, datname, usename , application_nam..."
3,1107,None,None,,None,None,NaT,
4,1106,None,None,,None,None,NaT,
5,1108,None,None,,None,None,NaT,