In [85]:
import simplejson as json
import psycopg2 as psy
import pandas.io.sql as psql
import pandas as pd
import feather
from datetime import datetime

In [86]:
conexion_json = json.loads(open('secret_conexion_2.json').read())

In [87]:
with open('secret_conexion_2.json') as conex_json:
    parametros = json.load(conex_json)
    host = parametros['host1']
    dbname = parametros['dbname']
    user = parametros['user']
    password = parametros['password']

In [88]:
con = psy.connect(host=host, dbname=dbname, user=user, password=password)

In [89]:
resultado = psql.read_sql("select version(),pid, datname, usename , application_name, client_addr, state, query_start, query from pg_catalog.pg_stat_activity limit 10;", con)

In [90]:
resultado

,version,pid,datname,usename,application_name,client_addr,state,query_start,query
0,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,1111,None,postgres,,None,None,NaT,
1,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,1109,None,None,,None,None,NaT,
2,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,12768,test,test,,192.168.0.10,idle in transaction,2020-09-17 20:59:24.583905+00:00,"select pid, datname, usename , application_nam..."
3,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,14627,test,test,,192.168.0.10,active,2020-09-17 21:22:10.186490+00:00,"select version(),pid, datname, usename , appli..."
4,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,1107,None,None,,None,None,NaT,
5,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,1106,None,None,,None,None,NaT,
6,PostgreSQL 10.14 (Ubuntu 10.14-1.pgdg18.04+1) ...,1108,None,None,,None,None,NaT,

In [91]:
tabla_df = pd.DataFrame(resultado,columns=['version','pid', 'datname', 'usename' , 'application_name', 'client_addr', 'state', 'query_start', 'query'])

In [92]:
tabla_feather = pd.DataFrame(data=tabla_df)

In [93]:
raizFeather = "pg_stat_activity_"

In [94]:
fecha = datetime.now()

In [95]:
f"{raizFeather}{fecha}"

'pg_stat_activity_2020-09-17 18:22:10.939466'

In [98]:
tabla_feather.to_feather(f"data_servers/{raizFeather}{fecha}")

In [99]:
leer_frame = pd.read_feather(f"data_servers/{raizFeather}{fecha}")